In [1]:
import pandas as pd
import numpy as np
import datetime

# 1- Read the csv

In [2]:
data = pd.read_csv('weatherAUS.csv')
df = data.copy()
df.head()

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

# 2- Find out the describe and info attributes of the dataframe.

In [3]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
MinTemp,143975.0,12.194034,6.398495,-8.5,7.6,12.0,16.9,33.9
MaxTemp,144199.0,23.221348,7.119049,-4.8,17.9,22.6,28.2,48.1
Rainfall,142199.0,2.360918,8.478060,0.0,0.0,0.0,0.8,371.0
Evaporation,82670.0,5.468232,4.193704,0.0,2.6,4.8,7.4,145.0
Sunshine,75625.0,7.611178,3.785483,0.0,4.8,8.4,10.6,14.5
WindGustSpeed,135197.0,40.035230,13.607062,6.0,31.0,39.0,48.0,135.0
WindSpeed9am,143693.0,14.043426,8.915375,0.0,7.0,13.0,19.0,130.0
WindSpeed3pm,142398.0,18.662657,8.809800,0.0,13.0,19.0,24.0,87.0
Humidity9am,142806.0,68.880831,19.029164,0.0,57.0,70.0,83.0,100.0
Humidity3pm,140953.0,51.539116,20.795902,0.0,37.0,52.0,66.0,100.0
Pressure9am,130395.0,1017.649940,7.106530,980.5,1012.9,1017.6,1022.4,1041.0
Pressure3pm,130432.0,1015.255889,7.037414,977.1,1010.4,1015.2,1020.0,1039.6
Cloud9am,89572.0,4.447461,2.887159,0.0,1.0,5.0,7.0,9.0
Cloud3pm,86102.0,4.509930,2.720357,0.0,2.0,5.0,7.0,9.0
Temp9am,143693.0,16.990631,6.488753,-7.2,12.3,16.7,21.6,40.2
Temp3pm,141851.0,21.683390,6.936650,-5.4,16.6,21.1,26.4,46.7

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

# 3- Shape and size

In [5]:
df.size

3345580

In [6]:
df.shape

(145460, 23)

# 4- Find out the type of values of the columns and save it as a dataframe.

In [7]:
types = pd.DataFrame(df.dtypes,columns = ['Types'])
types

                 Types
Date            object
Location        object
MinTemp        float64
MaxTemp        float64
Rainfall       float64
Evaporation    float64
Sunshine       float64
WindGustDir     object
WindGustSpeed  float64
WindDir9am      object
WindDir3pm      object
WindSpeed9am   float64
WindSpeed3pm   float64
Humidity9am    float64
Humidity3pm    float64
Pressure9am    float64
Pressure3pm    float64
Cloud9am       float64
Cloud3pm       float64
Temp9am        float64
Temp3pm        float64
RainToday       object
RainTomorrow    object

# 5- Find out of the non-null counts of the columns and save the results as a dataframe.

In [8]:
non_null = pd.DataFrame(df.notnull().sum(),columns = ['The number of non-nulls'])
non_null

               The number of non-nulls
Date                            145460
Location                        145460
MinTemp                         143975
MaxTemp                         144199
Rainfall                        142199
Evaporation                      82670
Sunshine                         75625
WindGustDir                     135134
WindGustSpeed                   135197
WindDir9am                      134894
WindDir3pm                      141232
WindSpeed9am                    143693
WindSpeed3pm                    142398
Humidity9am                     142806
Humidity3pm                     140953
Pressure9am                     130395
Pressure3pm                     130432
Cloud9am                         89572
Cloud3pm                         86102
Temp9am                         143693
Temp3pm                         141851
RainToday                       142199
RainTomorrow                    142193

# 6- Find out of the null counts of the columns and save the results as a dataframe.

In [9]:
null = pd.DataFrame(df.isnull().sum(),columns = ['The number of nulls'])
null

               The number of nulls
Date                             0
Location                         0
MinTemp                       1485
MaxTemp                       1261
Rainfall                      3261
Evaporation                  62790
Sunshine                     69835
WindGustDir                  10326
WindGustSpeed                10263
WindDir9am                   10566
WindDir3pm                    4228
WindSpeed9am                  1767
WindSpeed3pm                  3062
Humidity9am                   2654
Humidity3pm                   4507
Pressure9am                  15065
Pressure3pm                  15028
Cloud9am                     55888
Cloud3pm                     59358
Temp9am                       1767
Temp3pm                       3609
RainToday                     3261
RainTomorrow                  3267

# 7- Find out the unique counts of the columns and save it as a dataframe.

In [10]:
unique = pd.DataFrame(df.nunique(),columns = ['The number of uniques'])
unique

               The number of uniques
Date                            3436
Location                          49
MinTemp                          389
MaxTemp                          505
Rainfall                         681
Evaporation                      358
Sunshine                         145
WindGustDir                       16
WindGustSpeed                     67
WindDir9am                        16
WindDir3pm                        16
WindSpeed9am                      43
WindSpeed3pm                      44
Humidity9am                      101
Humidity3pm                      101
Pressure9am                      546
Pressure3pm                      549
Cloud9am                          10
Cloud3pm                          10
Temp9am                          441
Temp3pm                          502
RainToday                          2
RainTomorrow                       2

# 8- Merge the dataframes created in questions 4,5,6,7

In [11]:
pd.concat([types,non_null,null,unique],axis=1)

,Types,The number of non-nulls,The number of nulls,The number of uniques
Date,object,145460,0,3436
Location,object,145460,0,49
MinTemp,float64,143975,1485,389
MaxTemp,float64,144199,1261,505
Rainfall,float64,142199,3261,681
Evaporation,float64,82670,62790,358
Sunshine,float64,75625,69835,145
WindGustDir,object,135134,10326,16
WindGustSpeed,float64,135197,10263,67
WindDir9am,object,134894,10566,16
WindDir3pm,object,141232,4228,16
WindSpeed9am,float64,143693,1767,43
WindSpeed3pm,float64,142398,3062,44
Humidity9am,float64,142806,2654,101
Humidity3pm,float64,140953,4507,101
Pressure9am,float64,130395,15065,546
Pressure3pm,float64,130432,15028,549
Cloud9am,float64,89572,55888,10
Cloud3pm,float64,86102,59358,10
Temp9am,float64,143693,1767,441
Temp3pm,float64,141851,3609,502
RainToday,object,142199,3261,2
RainTomorrow,object,142193,3267,2

# 9- Lowercase all column names

In [12]:
df.columns = df.columns.str.lower()
df.columns

Index(['date', 'location', 'mintemp', 'maxtemp', 'rainfall', 'evaporation',
       'sunshine', 'windgustdir', 'windgustspeed', 'winddir9am', 'winddir3pm',
       'windspeed9am', 'windspeed3pm', 'humidity9am', 'humidity3pm',
       'pressure9am', 'pressure3pm', 'cloud9am', 'cloud3pm', 'temp9am',
       'temp3pm', 'raintoday', 'raintomorrow'],
      dtype='object')

# 10- Change all No values to NoRain and all Yes values to Rain in raintoday and raintomorrow

In [13]:
df["raintoday"].replace({"Yes": "Rain", "No": "NoRain"}, inplace=True)
df["raintomorrow"].replace({"Yes": "Rain", "No": "NoRain"}, inplace=True)
df[['raintoday','raintomorrow']]

       raintoday raintomorrow
0         NoRain       NoRain
1         NoRain       NoRain
2         NoRain       NoRain
3         NoRain       NoRain
4         NoRain       NoRain
...          ...          ...
145455    NoRain       NoRain
145456    NoRain       NoRain
145457    NoRain       NoRain
145458    NoRain       NoRain
145459    NoRain          NaN

[145460 rows x 2 columns]

# 11- Change the data type of 'date' (object) column to datetime64 DD/MM/YYYY

In [14]:
df['date'] = df['date'].map(lambda x: datetime.datetime.strptime(x, '%Y-%m-%d').strftime('%d-%m-%Y'))
df['date']

0         01-12-2008
1         02-12-2008
2         03-12-2008
3         04-12-2008
4         05-12-2008
             ...
145455    21-06-2017
145456    22-06-2017
145457    23-06-2017
145458    24-06-2017
145459    25-06-2017
Name: date, Length: 145460, dtype: object

# 12- Create a new column called "difference", calculate the difference between maxtemp and mintemp columns for each row, and store the value in this new column.

In [15]:
df['difference'] = df['maxtemp']-df['mintemp']
df['difference'].head()

0     9.5
1    17.7
2    12.8
3    18.8
4    14.8
Name: difference, dtype: float64

# 13- Remove the evaporation and sunshine columns from the dataset permanently.

In [16]:
df_1 = df.drop(['evaporation','sunshine'], axis = 1) # inplace = True
df_1

,date,location,mintemp,maxtemp,rainfall,windgustdir,windgustspeed,winddir9am,winddir3pm,windspeed9am,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,difference
0,01-12-2008,Albury,13.4,22.9,0.6,W,44.0,W,WNW,20.0,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,NoRain,NoRain,9.5
1,02-12-2008,Albury,7.4,25.1,0.0,WNW,44.0,NNW,WSW,4.0,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,NoRain,NoRain,17.7
2,03-12-2008,Albury,12.9,25.7,0.0,WSW,46.0,W,WSW,19.0,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,NoRain,NoRain,12.8
3,04-12-2008,Albury,9.2,28.0,0.0,NE,24.0,SE,E,11.0,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,NoRain,NoRain,18.8
4,05-12-2008,Albury,17.5,32.3,1.0,W,41.0,ENE,NW,7.0,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,NoRain,NoRain,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,21-06-2017,Uluru,2.8,23.4,0.0,E,31.0,SE,ENE,13.0,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,NoRain,NoRain,20.6
145456,22-06-2017,Uluru,3.6,25.3,0.0,NNW,22.0,SE,N,13.0,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,NoRain,NoRain,21.7
145457,23-06-2017,Uluru,5.4,26.9,0.0,N,37.0,SE,WNW,9.0,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,NoRain,NoRain,21.5
145458,24-06-2017,Uluru,7.8,27.0,0.0,SE,28.0,SSE,N,13.0,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,NoRain,NoRain,19.2
145459,25-06-2017,Uluru,14.9,NaN,0.0,NaN,NaN,ESE,ESE,17.0,...,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,NoRain,NaN,NaN

# 14- Find out the most rainy day for each city.

In [17]:
most_rainy = df.loc[df.groupby('location')['rainfall'].idxmax().values][['location','date','rainfall']].set_index('location')
most_rainy

                        date  rainfall
location
Adelaide          14-02-2014      75.2
Albany            02-06-2012      49.4
Albury            01-03-2012     104.2
AliceSprings      28-02-2010      62.0
BadgerysCreek     29-01-2013     116.0
Ballarat          14-01-2011      95.0
Bendigo           05-02-2011      66.4
Brisbane          02-05-2015     182.6
Cairns            12-01-2009     278.4
Canberra          03-12-2010      87.0
Cobar             16-02-2014      68.0
CoffsHarbour      07-11-2009     371.0
Dartmoor          14-01-2011      73.6
Darwin            16-02-2011     367.6
GoldCoast         29-04-2012     183.4
Hobart            14-01-2015      71.6
Katherine         27-12-2015     167.0
Launceston        29-01-2016      88.0
Melbourne         07-02-2011      82.2
MelbourneAirport  01-06-2013      75.8
Mildura           05-02-2011     155.0
Moree             26-11-2011     113.0
MountGambier      14-01-2011      84.6
MountGinini       04-03-2012     107.6
Newcastle         23-04-2015     240.0
Nhil              12-06-2013      65.6
NorahHead         24-06-2013     126.4
NorfolkIsland     22-03-2016     156.8
Nuriootpa         08-12-2010      76.6
PearceRAAF        07-12-2011      62.4
Penrith           10-02-2012     115.4
Perth             10-02-2017     114.4
PerthAirport      11-07-2010      76.6
Portland          14-01-2011      72.0
Richmond          21-04-2015     113.4
Sale              07-12-2014      55.6
SalmonGums        02-03-2013      55.4
Sydney            21-04-2015     119.4
SydneyAirport     15-10-2014     106.8
Townsville        03-02-2009     236.8
Tuggeranong       09-12-2010      93.0
Uluru             26-12-2016      83.8
WaggaWagga        08-03-2010     110.8
Walpole           01-06-2012      93.2
Watsonia          01-06-2013      87.4
Williamtown       06-01-2016     225.0
Witchcliffe       15-07-2013      99.4
Wollongong        25-08-2015     192.0
Woomera           10-01-2015      66.4

# 15- Filter out all the data for the city 'Albury' and then sort according to maxtemp column.

In [18]:
df[df['location']=='Albury'].sort_values(by = 'maxtemp', ascending = False)

,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,winddir9am,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,difference
68,07-02-2009,Albury,22.3,44.8,0.0,NaN,NaN,NNW,59.0,SE,...,11.0,1008.2,1003.8,NaN,NaN,29.6,43.4,NoRain,NoRain,22.5
2904,10-02-2017,Albury,23.0,43.7,0.0,NaN,NaN,WSW,44.0,SSE,...,17.0,1009.9,1006.1,NaN,NaN,28.2,42.4,NoRain,NoRain,20.7
1783,16-01-2014,Albury,23.0,43.6,0.0,NaN,NaN,N,35.0,E,...,12.0,1016.6,1012.2,NaN,NaN,31.8,41.7,NoRain,NoRain,20.6
1435,05-01-2013,Albury,19.8,43.4,0.0,NaN,NaN,NW,81.0,S,...,17.0,1012.4,1009.8,NaN,1.0,30.7,42.4,NoRain,Rain,23.6
62,01-02-2009,Albury,28.0,43.1,0.0,NaN,NaN,SW,83.0,SE,...,9.0,1012.5,1008.7,NaN,NaN,32.4,41.9,NoRain,NoRain,15.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984,11-09-2011,Albury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,12-09-2011,Albury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1529,07-05-2013,Albury,3.9,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,1028.6,NaN,NaN,NaN,9.8,NaN,NoRain,NaN,NaN
2031,21-09-2014,Albury,3.4,NaN,0.0,NaN,NaN,NaN,NaN,ESE,...,43.0,1030.6,1027.5,NaN,NaN,12.2,18.6,NoRain,NaN,NaN
2032,22-09-2014,Albury,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 16- Find out the NaN counts for each column.

In [19]:
df.isnull().sum()

date                 0
location             0
mintemp           1485
maxtemp           1261
rainfall          3261
evaporation      62790
sunshine         69835
windgustdir      10326
windgustspeed    10263
winddir9am       10566
winddir3pm        4228
windspeed9am      1767
windspeed3pm      3062
humidity9am       2654
humidity3pm       4507
pressure9am      15065
pressure3pm      15028
cloud9am         55888
cloud3pm         59358
temp9am           1767
temp3pm           3609
raintoday         3261
raintomorrow      3267
difference        1881
dtype: int64

# 17- Remove the rows with NaN values in "windgustdir" column from the dataframe permanently.

In [20]:
df.dropna(subset = ['windgustdir'],inplace = True)
df.reset_index(inplace = True)
df

,index,date,location,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustdir,windgustspeed,...,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,raintoday,raintomorrow,difference
0,0,01-12-2008,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,...,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,NoRain,NoRain,9.5
1,1,02-12-2008,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,...,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,NoRain,NoRain,17.7
2,2,03-12-2008,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,...,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,NoRain,NoRain,12.8
3,3,04-12-2008,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,...,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,NoRain,NoRain,18.8
4,4,05-12-2008,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,...,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,NoRain,NoRain,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135129,145454,20-06-2017,Uluru,3.5,21.8,0.0,NaN,NaN,E,31.0,...,27.0,1024.7,1021.2,NaN,NaN,9.4,20.9,NoRain,NoRain,18.3
135130,145455,21-06-2017,Uluru,2.8,23.4,0.0,NaN,NaN,E,31.0,...,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,NoRain,NoRain,20.6
135131,145456,22-06-2017,Uluru,3.6,25.3,0.0,NaN,NaN,NNW,22.0,...,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,NoRain,NoRain,21.7
135132,145457,23-06-2017,Uluru,5.4,26.9,0.0,NaN,NaN,N,37.0,...,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,NoRain,NoRain,21.5
135133,145458,24-06-2017,Uluru,7.8,27.0,0.0,NaN,NaN,SE,28.0,...,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,NoRain,NoRain,19.2

# 18- Create a new dataframe, use "Location" column as the index of the dataframe, display the min, max, and median values of "evaporation" and "sunshine" columns in this dataframe.

In [21]:
location = df.groupby('location').agg({'sunshine':['min','max','median'],'evaporation':['min','max','median']})
location

                 sunshine              evaporation
                      min   max median         min   max median
location
Adelaide              0.0  13.9    8.4         0.0  43.4    4.2
Albury                NaN   NaN    NaN         NaN   NaN    NaN
AliceSprings          0.0  13.4   10.6         0.0  50.2    8.2
BadgerysCreek         NaN   NaN    NaN         NaN   NaN    NaN
Ballarat              NaN   NaN    NaN         NaN   NaN    NaN
Bendigo               NaN   NaN    NaN         0.0  15.4    3.1
Brisbane              0.0  13.5    9.4         0.0  44.0    5.2
Cairns                0.0  12.8    8.6         0.2  44.4    6.0
Canberra              0.0  13.6    8.1         0.0  17.2    3.4
Cobar                 0.0  13.7    9.9         0.0  86.2    5.6
CoffsHarbour          0.0  13.8    8.5         0.0  19.8    3.6
Dartmoor              0.0  14.3    6.4         0.0  16.4    2.6
Darwin                0.0  12.3   10.0         0.2  19.2    6.4
GoldCoast             NaN   NaN    NaN         NaN   NaN    NaN
Hobart                0.0  14.2    6.9         0.0  20.2    3.2
Katherine             NaN   NaN    NaN         0.0  31.0    7.2
Launceston            NaN   NaN    NaN         0.0  30.4    5.2
Melbourne             0.0  13.9    6.5         0.0  23.8    4.0
MelbourneAirport      0.0  13.9    6.5         0.0  23.8    4.0
Mildura               0.0  14.5    9.1         0.0  23.2    5.2
Moree                 0.0  14.0   10.1         0.2  65.4    6.4
MountGambier          0.0  14.3    6.5         0.0  16.4    2.8
MountGinini           NaN   NaN    NaN         NaN   NaN    NaN
Nhil                  NaN   NaN    NaN         NaN   NaN    NaN
NorahHead             NaN   NaN    NaN         NaN   NaN    NaN
NorfolkIsland         0.0  13.3    7.8         0.0  74.8    4.4
Nuriootpa             0.0  14.3    8.2         0.0  42.6    4.0
PearceRAAF            0.0  13.9    9.4         NaN   NaN    NaN
Penrith               NaN   NaN    NaN         NaN   NaN    NaN
Perth                 0.0  13.9    9.4         0.0  17.0    4.8
PerthAirport          0.0  13.9    9.4         0.0  17.0    5.0
Portland              0.0  14.3    6.5         0.0  16.4    2.8
Richmond              NaN   NaN    NaN         0.0  37.2    4.0
Sale                  0.0  13.9    7.0         0.0  16.0    3.4
SalmonGums            NaN   NaN    NaN         NaN   NaN    NaN
Sydney                0.0  13.6    8.2         0.0  18.4    5.0
SydneyAirport         0.0  13.6    8.2         0.0  18.4    4.9
Townsville            0.0  12.8   10.0         0.4  30.2    7.0
Tuggeranong           NaN   NaN    NaN         NaN   NaN    NaN
Uluru                 NaN   NaN    NaN         NaN   NaN    NaN
WaggaWagga            0.0  14.1    9.1         0.0  39.4    4.0
Walpole               NaN   NaN    NaN         NaN   NaN    NaN
Watsonia              0.0  13.9    6.5         0.0  23.8    4.0
Williamtown           0.0  13.7    8.1         0.0  64.4    5.2
Witchcliffe           NaN   NaN    NaN         NaN   NaN    NaN
Wollongong            NaN   NaN    NaN         NaN   NaN    NaN
Woomera               0.0  14.2    9.9         0.0  82.4    8.6

# 19- Find out the hottest day of "Perth". Example output: Timestamp('2015-01-05 00:00:00')

In [22]:
perth = df[df['location']=='Perth']
pd.DataFrame(perth[perth['maxtemp']==perth['maxtemp'].max()]['date'])

              date
113043  05-01-2015

# 20- Group your dataframe by location and find out the averages of all numeric values.

In [23]:
df.groupby('location').mean().drop(['index'],axis = 1)

,mintemp,maxtemp,rainfall,evaporation,sunshine,windgustspeed,windspeed9am,windspeed3pm,humidity9am,humidity3pm,pressure9am,pressure3pm,cloud9am,cloud3pm,temp9am,temp3pm,difference
location,,,,,,,,,,,,,,,,,
Adelaide,12.571487,22.891254,1.576076,5.757117,7.742417,36.499211,9.954804,15.470774,59.716182,44.866941,1018.758665,1016.798356,NaN,NaN,16.925284,21.552038,10.319766
Albury,9.518588,22.629555,1.904552,NaN,NaN,32.977394,8.209720,14.385358,74.101198,47.907912,1018.366190,1015.752959,6.393916,5.410148,14.347304,21.361802,13.113258
AliceSprings,13.155254,29.281325,0.869484,9.042405,9.592820,40.531281,14.754603,18.098092,39.542015,24.035846,1016.684639,1012.866812,2.838528,3.242597,21.365072,28.043254,16.128423
BadgerysCreek,11.135741,24.014949,2.215406,NaN,NaN,33.600409,8.053590,13.997940,76.932530,51.426309,1018.469363,1015.657849,NaN,NaN,16.567467,22.513928,12.876525
Ballarat,7.348670,18.267930,1.706369,NaN,NaN,44.982719,19.976024,22.770792,81.801338,59.051948,1017.872715,1016.289983,5.810219,6.282246,11.658253,16.772537,10.918152
Bendigo,8.611841,21.625609,1.631586,3.835616,NaN,38.844948,12.945630,17.173173,70.579158,46.516011,1017.991296,1015.831417,4.418262,4.867384,13.850317,20.251734,13.009773
Brisbane,16.414204,26.436043,3.119424,5.406064,8.069265,28.212881,6.950508,10.993331,64.064762,53.917250,1018.252094,1015.119022,3.920025,3.886349,21.822317,24.734087,10.018130
Cairns,21.225099,29.559550,5.701852,6.244197,7.577948,38.026150,15.902649,21.907616,69.937086,61.751738,1014.152351,1011.098444,4.561036,4.441145,25.821921,27.911188,8.335563
Canberra,6.670100,20.731579,1.745920,4.134289,7.419064,40.071682,10.444228,19.082444,73.814206,46.445272,1019.003108,1016.256796,4.888889,4.802676,12.486515,19.246330,14.061479
Cobar,13.131412,25.853488,1.132655,6.751995,8.693236,36.750590,14.679717,15.143965,55.148317,33.881837,1017.994375,1015.327909,3.311223,3.861215,18.102632,24.517262,12.722076
CoffsHarbour,14.522998,23.971493,4.990985,3.912857,7.353320,39.227925,15.273139,21.186011,68.161815,62.380447,1018.245185,1015.847220,4.324651,4.500229,20.191770,22.372951,9.450322
Dartmoor,8.620518,19.696769,2.150272,3.354226,6.419215,38.898299,10.815458,17.949643,85.218739,62.439885,1018.003777,1016.512628,NaN,NaN,12.588632,18.181354,11.061622
Darwin,23.190022,32.538259,5.076454,6.315255,8.522194,40.579917,15.043561,20.848061,68.414812,51.699301,1011.911825,1008.365130,4.323268,4.296025,27.170321,31.087095,9.348236
GoldCoast,17.287324,25.713189,3.737301,NaN,NaN,42.476370,19.331962,25.831619,66.218213,62.824055,1017.981747,1015.278219,NaN,NaN,22.308973,23.712466,8.421213
Hobart,9.080883,17.858517,1.604739,3.599146,6.574842,47.530915,16.291167,19.818870,65.650316,52.974668,1014.507447,1012.941338,4.845771,4.963591,12.460271,16.166835,8.777634
Katherine,20.546272,34.915762,3.239856,7.325926,NaN,38.771465,12.100129,15.783959,63.863358,42.824897,1012.786886,1008.483840,2.587417,3.199762,26.634195,33.551130,14.394619
Launceston,7.858822,18.983062,2.016483,6.190714,NaN,35.625749,8.471547,15.555333,79.450732,57.240506,1015.647558,1013.722920,6.315716,5.719346,12.050266,17.709860,11.122877
Melbourne,11.770359,20.760489,1.874019,4.642884,6.387980,45.610255,19.091281,22.071721,67.577308,51.158990,1017.642868,1015.787500,5.311132,5.336386,14.580467,19.263822,8.992291
MelbourneAirport,9.962558,20.478958,1.456045,4.634437,6.378750,46.919172,20.244905,23.057114,70.139317,51.152429,1018.102071,1016.295090,5.246827,5.264952,14.110354,18.947027,10.516399
Mildura,10.738782,24.848202,0.945370,5.938816,8.468361,37.168775,14.000999,16.695305,64.088637,35.402000,1018.765133,1016.255929,3.384800,3.922996,15.536563,23.434266,14.109421
Moree,12.909625,26.975060,1.612936,7.639713,8.917212,39.889116,18.089170,16.832251,61.297916,35.663363,1018.329512,1014.943432,3.340373,3.961901,18.875708,25.678028,14.063720
MountGambier,8.820797,19.818882,2.078296,3.425587,6.505339,42.853030,17.496651,22.372194,75.525856,57.378986,1017.967861,1016.397587,5.518377,5.478668,13.777804,18.170476,10.999096
MountGinini,3.487122,11.506027,3.317951,NaN,NaN,46.253951,15.807078,14.979111,77.152479,70.062107,NaN,NaN,NaN,NaN,6.787454,10.086023,8.059164
Nhil,8.991959,22.394576,0.933973,NaN,NaN,42.542438,16.435227,20.960434,73.059349,44.942565,1018.537779,1016.393810,NaN,NaN,13.374091,20.863114,13.402616
NorahHead,15.346429,22.583152,3.388950,NaN,NaN,42.183051,13.866008,20.983657,74.592087,67.488079,1018.262377,1016.012033,NaN,NaN,18.463677,20.760368,7.236067
NorfolkIsland,16.868073,21.827935,3.132717,4.738062,7.013740,42.601889,20.171119,21.871414,70.779655,67.832265,1017.626928,1015.886703,5.025508,4.849725,19.777492,20.471178,4.961323
Nuriootpa,9.404508,21.751250,1.380203,5.098451,7.673709,40.681081,14.239513,18.161072,66.731707,45.364530,1018.870118,1016.746479,4.682299,4.875965,14.886270,20.358917,12.363729
PearceRAAF,12.295443,26.052760,1.691525,NaN,8.805317,43.579958,16.044787,20.362299,60.854043,42.120575,1017.600490,1015.087272,3.864047,4.047118,18.851784,24.493833,13.740498
Penrith,12.537888,24.733782,2.176233,NaN,NaN,31.807330,6.345997,11.967938,75.822859,49.006518,NaN,NaN,NaN,NaN,16.952557,23.329386,12.196018
Perth,12.921769,25.037402,1.905144,5.606527,8.786616,34.882999,10.697302,14.516939,62.677572,46.906004,1017.778820,1015.412923,3.381984,3.467337,18.574122,23.463331,12.114120
PerthAirport,12.593723,25.541714,1.744988,5.671168,8.796114,44.201822,17.760297,21.283592,58.761390,41.927414,1017.851992,1015.332917,3.379264,3.451504,18.792845,24.092944,12.947992
Portland,9.586485,18.047209,2.528629,3.416822,6.495462,42.059852,16.316852,20.769179,78.741715,65.988855,1017.709622,1016.641734,6.340086,6.075295,13.189276,16.501621,8.458072
Richmond,11.333866,24.455586,2.130970,5.247180,NaN,34.872290,7.016769,14.875299,76.874355,49.002065,1018.695907,1015.626298,6.249169,5.509499,16.551231,23.124692,13.112857
Sale,8.595363,20.321583,1.523612,3.825179,6.689749,42.479777,14.335311,22.307853,78.699895,56.201893,1017.723214,1015.801296,5.329070,5.081528,13.464759,18.818940,11.726220
SalmonGums,9.376693,24.288645,1.037027,NaN,NaN,39.748372,16.293269,17.314452,62.845520,40.778922,NaN,NaN,NaN,NaN,17.080398,22.708857,14.923624
Sydney,15.062213,23.292758,3.477445,5.317841,7.194377,41.757589,15.265740,19.739809,67.602704,54.291630,1018.302441,1015.980697,4.233523,4.184912,18.065421,21.748349,8.230542
SydneyAirport,14.893845,23.394050,2.984631,5.268154,7.193578,47.234280,18.559689,25.773081,64.735453,53.872376,1018.394002,1015.995533,4.279282,4.276200,18.550085,21.785188,8.498783
Townsville,20.412931,29.361485,3.455083,7.198736,8.465554,38.840570,15.233831,24.259529,63.931720,57.387140,1015.166788,1011.906563,4.290628,4.008727,25.632847,27.765462,8.949702
Tuggeranong,7.235581,20.771295,2.165203,NaN,NaN,35.215883,7.641560,14.882590,72.797447,47.124916,1018.525386,1015.670338,NaN,NaN,12.571045,19.438480,13.538731
Uluru,14.399533,30.389633,0.714555,NaN,NaN,41.268373,17.610928,16.986868,42.254785,23.838477,1017.145855,1013.345502,5.567568,4.832911,20.996568,29.071832,16.021281
WaggaWagga,9.628212,23.046863,1.711737,5.191840,8.208085,36.648105,12.881248,16.207648,67.833781,42.575310,1018.490876,1015.837538,3.857505,4.191952,14.940054,21.766152,13.418651
Walpole,11.837917,20.491127,2.865308,NaN,NaN,39.829640,13.924143,17.231809,76.170766,66.325710,1017.869830,1016.228933,NaN,NaN,15.944822,18.591719,8.660202
Watsonia,10.115729,20.858445,1.842159,4.631863,6.369438,38.059219,9.922585,15.199260,78.364435,54.779946,1018.057523,1016.112483,5.246972,5.266577,13.748276,19.363694,10.739744
Williamtown,12.774443,23.985346,3.621076,6.786268,7.139060,41.681518,16.419861,22.242688,71.920153,54.057511,1018.477119,1015.989892,4.711505,4.493398,18.068780,22.475279,11.210689
Witchcliffe,10.786932,21.685407,2.910366,NaN,NaN,40.083025,13.959946,19.168124,71.386637,57.826103,1018.385302,1016.727340,NaN,NaN,16.550151,19.806052,10.895081
Wollongong,14.919289,21.445166,3.611757,NaN,NaN,45.690842,16.637222,21.960685,67.649158,65.139832,1018.152821,1016.063471,6.219880,5.857854,18.173266,19.915692,6.521872
Woomera,13.410819,26.639327,0.496816,10.200118,9.042980,44.156566,20.098720,20.707786,53.012175,28.356876,1018.568959,1015.908570,2.528891,2.897103,17.974806,25.244879,13.222076